<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmSpringnity</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
</head>
<body class="text-center vh-100" style="background-color:#F9F9F9">

<div class="cover-container d-flex vh-100 flex-column mx-auto">
    <header class="">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A6E26E;">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="https://mdbgo.com/">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/2560px-Spring_Framework_Logo_2018.svg.png"
                            height="30"
                            alt="MDB Logo"
                            loading="lazy"
                            style="margin-top: -1px;"
                    />
                </a>

                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">FilmSpringnity</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/home2}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/buscarPublic}">Buscador Avanzado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/listado2}">Peliculas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cactores/listado2}">Actores</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/gestionPeliculas}">Panel de Control</a>
                        </li>
                    </ul>

                    <!-- Left links -->

                    <div class="">
                        <button type="button" class="btn btn-link px-3 me-2">
                            Iniciar Sesión
                        </button>
                        <button type="button" class="btn btn-primary me-3">
                            Registrarse
                        </button>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>


    <main class="px-3 w-75 mx-auto">
        <h2 th:text="${titulo}"
            class="text-secondary border border-success border-top-0 border-left-0 border-right-0 text-center py-2">
        </h2>
        <form th:action="@{/cactores/guardar/}" method="post" th:object="${actor}" enctype="multipart/form-data" class="text-start">

            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                Por favor corrija los siguientes errores:
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                </ul>
            </div>

            <div class="my-4">
                <label for="nombre" class="form-label fw-bold">Nombre Completo</label>
                <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre"
                       placeholder="Escriba el Nombre y Apellido/s" required="required">
            </div>

            <div class="my-4">
                <label for="fechaNac" class="form-label fw-bold">Fecha Nacimiento</label>
                <input type="date" class="form-control" th:field="*{fechaNac}" id="fechaNac" name="fechaNac"
                       placeholder="**/**/****" required="required">
            </div>

            <div class="my-4">
                <label for="paisNac" class="form-label fw-bold">Pais Nacimiento</label>
                <select class="form-select" th:field="*{paisNac}" name="paisNac" id="paisNac">
                    <!--                 <option th:value="" selected>Seleccionar categoría</option> -->
                    <option th:value="España">España</option>
                    <option th:value="EstadosUnidos">EstadosUnidos</option>
                    <option th:value="Japón">Japón</option>
                    <option th:value="China">China</option>
                    <option th:value="Rusia">Rusia</option>
                    <option th:value="India">India</option>
                </select>
            </div>

            <img th:if="${actor.imagen != null && #strings.length(actor.imagen) > 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%; max-height: 220px;" th:src="@{'/cpeliculas/uploads/' + ${actor.imagen}}"
                 th:alt="${actor.imagen}" />

            <div class="my-4">
                <label for="file" class="col-sm-2 col-form-label fw-bold">Imagen</label>
                <div class="col-sm-6">
                    <input type="file" id="file" name="file" class="form-control"
                           th:required="${(actor.imagen != null && #strings.length(actor.imagen) > 0)} ? null : 'required' "/>
                </div>
            </div>

            <button type="submit" class="btn btn-dark mt-2 mb-5">Guardar</button>
            <input type="hidden" th:field="*{idActor}" />
            <input type="hidden" th:field="*{imagen}"/>
        </form>
    </main>

    <footer class="mt-auto" style="background-color: #A6E26E;">
        <p class="pt-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
            <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
            by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
        </p>
    </footer>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>