<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>PeliculasApp | Aplicación de gestión de Peliculas</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="vh-100" style="background-color:#F9F9F9">

<div class="cover-container vh-100 flex-column mx-auto">
  <header class="mb-auto">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A6E26E;">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="https://mdbgo.com/">
          <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/2560px-Spring_Framework_Logo_2018.svg.png"
                  height="30"
                  alt="MDB Logo"
                  loading="lazy"
                  style="margin-top: -1px;"
          />
        </a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">FilmSpringnity</a>
            </li>
          </ul>

          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/cpeliculas/home2}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/cpeliculas/buscarPublic}">Buscador Avanzado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/cpeliculas/listado2}">Peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"th:href="@{/cactores/listado2}">Actores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/cpeliculas/gestionPeliculas}">Panel de Control</a>
            </li>
          </ul>

          <!-- Left links -->

          <div class="">
            <button type="button" class="btn btn-link px-3 me-2">
              Iniciar Sesión
            </button>
            <button type="button" class="btn btn-primary me-3">
              Registrarse
            </button>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>


  <main class="mb-1">
    <div class="card">
      <h2 th:text="${titulo}" class="card-header text-center"></h2>
      <div class="card-body mx-auto" style="width: 85%">
        <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
        <h4 class="card-title text-end">
          <a th:href="@{/cactores/nuevo}" class="btn btn-primary btn-xs">Crear nuevo Actor</a>
        </h4>
        <table class="table table-hover mx-auto">
          <thead class="thead-light">
          <tr>
            <th class="col">Id</th>
            <th class="col">Nombre</th>
            <th class="col">Fecha Nacimiento</th>
            <th class="col">Pais Nacimiento</th>
            <th class="col">Imagen</th>
            <th class="col">Peliculas</th>
            <th class="col">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="actor : ${listadoActores}">
            <td th:text="${actor.idActor}"></td>
            <td th:text="${actor.nombre}"></td>
            <td th:text="${actor.fechaNac}"></td>
            <td th:text="${actor.paisNac}"></td>
            <td><img  th:src="@{'/cpeliculas/uploads/' + ${actor.imagen}}" th:alt="${actor.imagen}"
                      style="width:70px; height: 120px"></td>
            <td><a th:each="pelicula :${actor.peliculas}" th:text="${pelicula.titulo}"
                   th:href="@{/cpeliculas/detallePelicula/{id}  (id=${pelicula.idPelicula})  }" class="mx-2"></a></td>
            <td>
              <a th:href="@{/cactores/editar/{id}  (id=${actor.idActor})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button"
                 title="Editar Actor."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
              <a th:href="@{/cactores/borrar/{id}  (id=${actor.idActor})   }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')"
                 class="btn btn-danger btn-sm" role="button" title="Eliminar Actor."><i class="fas fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
          </tbody>

        </table>

        <nav th:replace="paginator-nav :: paginator"></nav>

      </div>
      <hr>
      <a class="btn btn-primary mx-auto" role="button" th:href="@{/cpeliculas/gestionPeliculas}" style="width: 15%">Volver</a>
    </div>
  </main>

  <footer class="mt-auto" style="background-color: #A6E26E;">
    <p class="pt-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
      <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
      by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
    </p>
  </footer>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>