<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FilmSpringnity</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  </head>

  <body class="text-center vh-100" style="background-color:#F9F9F9">

    <div class="cover-container d-flex vh-100 flex-column mx-auto">
      <header class="">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A6E26E;">
          <!-- Container wrapper -->
          <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" th:href="@{/cpeliculas/}">
              <img
                      th:src="@{/logo_def.png}"
                      height="40"
                      alt="MDB Logo"
                      loading="lazy"
                      style="margin-top: -12px; margin-bottom: -10px"
              />
            </a>

            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarButtonsExample"
                    aria-controls="navbarButtonsExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
              <!-- Left links -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>

              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/cpeliculas/}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/cpeliculas/buscarListado}">Buscador Avanzado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                </li>
              </ul>

              <!-- Left links -->

              <div class="">
                <button type="button" class="btn btn-link px-3 me-2">
                  Iniciar Sesión
                </button>
                <button type="button" class="btn btn-primary me-3">
                  Registrarse
                </button>
              </div>
            </div>
            <!-- Collapsible wrapper -->
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
      </header>


      <main class="">
        <div class="card">

          <h2 th:text="${pelicula.titulo}" class="card-header"></h2>
          <div class="card-body mt-1">
            <div class="container">

              <div class="row">
                <div class="col-6 mt-3 text-start">
                  <dl class="row row-gap-4">
                    <dt class="col-6 text-end">Titulo: </dt> <dd class="col-6" th:text="${pelicula.titulo}"></dd>
                    <dt class="col-6 text-end">Año: </dt> <dd class="col-6" th:text="${pelicula.anio}"></dd>
                    <dt class="col-6 text-end">Duración: </dt> <dd class="col-6" th:text="${pelicula.duracion} + ' minutos'"></dd>
                    <dt class="col-6 text-end">Pais: </dt> <dd class="col-6" th:text="${pelicula.pais}"></dd>
                    <dt class="col-6 text-end">Genero: </dt> <dd class="col-6" th:text="${pelicula.genero}"></dd>
                    <dt class="col-6 text-end">Sinopsis: </dt> <dd class="col-6" th:text="${pelicula.sinopsis}"></dd>
                  </dl>
                  <dl class="row">
                    <dt class=" col-6 text-end">Reparto: </dt>
                    <dd class="col-6">
                      <ul>
                        <li th:each="actor :${pelicula.actores}" class="mb-3">
                          <a   th:href="@{/cactores/detalleActor/{id}  (id=${actor.idActor})  }"
                               th:text="${actor.nombre}"></a>
                        </li>
                      </ul>
                    </dd>
                  </dl>
                </div>
                <div class="col-6">
                  <img th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagen}}" th:alt="${pelicula.imagen}" class="rounded" style="width: 310px; height: 530px"/>
                </div>
              </div>


            </div>

          </div>
        </div>
        <div style="padding: 30px 0">
          <a class="btn btn-primary w-25 mx-auto" role="button" href="javascript:window.history.back();">Volver</a>
        </div>

      </main>

      <footer class="mt-auto" style="background-color: #A6E26E;">
        <p class="pt-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
          <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
          by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
        </p>
      </footer>
    </div>

    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>