<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>PeliculasApp | Aplicación de gestión de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/cpeliculas/guardar/}" method="post" th:object="${pelicula}">

        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>

        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" th:field="*{titulo}" id="titulo" name="titulo"
                   placeholder="Escriba el titulo de la película" required="required">
        </div>

        <div class="mb-3">
            <label for="anio" class="form-label">Año</label>
            <input type="number" class="form-control" th:field="*{anio}" id="anio" name="anio"
                   placeholder="Escriba el año de la película" required="required">
        </div>

        <div class="mb-3">
            <label for="duracion" class="form-label">Duración</label>
            <input type="number" class="form-control" th:field="*{duracion}" id="duracion" name="duracion"
                   placeholder="Escriba la duración de la película en minutos" required="required">
        </div>

        <div class="mb-3">
            <label for="pais" class="form-label">Pais</label>
            <select class="form-select" th:field="*{pais}" name="pais" id="pais">
                <!--                 <option th:value="" selected>Seleccionar categoría</option> -->
                <option th:value="España">España</option>
                <option th:value="EstadosUnidos">EstadosUnidos</option>
                <option th:value="Japón">Japón</option>
                <option th:value="China">China</option>
                <option th:value="Rusia">Rusia</option>
                <option th:value="India">India</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Director</label>
            <input type="text" class="form-control" th:field="*{direccion}" id="direccion" name="direccion"
                   placeholder="Escriba el director de la película" required="required">
        </div>

        <div class="mb-3">
            <label for="genero" class="form-label">Genero</label>
            <select class="form-select" th:field="*{genero}" name="genero" id="genero">
                <!--                 <option th:value="" selected>Seleccionar categoría</option> -->
                <option th:value="Misterio">Misterio</option>
                <option th:value="CienciaFiccion">CienciaFiccion</option>
                <option th:value="Suspense">Suspense</option>
                <option th:value="Animacion">Animacion</option>
                <option th:value="Terror">Terror</option>
                <option th:value="Comedia">Comedia</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="sinopsis" class="form-label">Sinopsis</label>
            <input type="text" class="form-control" th:field="*{sinopsis}" id="sinopsis" name="sinopsis"
                   placeholder="Escriba la sinopsis de la película" required="required">
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">URL Imagen</label>
            <input type="text" class="form-control" th:field="*{imagen}" id="imagen" name="imagen"
                   placeholder="Introduzca la url de la imagen" required="required">
        </div>

        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idPelicula}" />
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/}">Ir a Inicio</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>