<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>FilmSpringnity</title>

        <!------------------------------------------------- Estilos ------------------------------------------------->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

        <!------------------------------------------------- RTL ------------------------------------------------->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

    </head>
    <body style="background-color:#F9F9F9">

        <header>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
                <div class="container-fluid">

                    <!------------------------------ icono ------------------------------>
                    <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!------------------------------ botón del menu ------------------------------>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/ccriticas/criticas}">Criticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                            </li>
                        </ul>

                        <hr class="d-md-none text-black">

                        <!------------------------------ Botones Identificación ------------------------------>
                        <form class="d-flex  me-0 me-md-5 justify-content-center">
                            <a th:href="@{/logout}" type="button" class="btn btn-danger px-3 me-2">
                                Cerrar Sesión
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
        </header>

        <main class="container-fluid w-75" style="min-height: calc(100vh - 56px - 56px);">

            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <div th:if="${msga != null}" class='alert alert-danger' th:text="${msga}" role='alert'></div>

            <div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 100px - 100px);">
                <div class="card mx-auto" style="width: 60%">
                    <h3 class="card-header mb-5 text-center" th:text="${titulo}"></h3>
                    <div class="mx-auto my-auto" style="width: 90%">
                        <!---------------------------------------------------- FORMULARIO ---------------------------------------------------->
                        <form th:action="@{/cpeliculas/guardar/}" method="post" th:object="${pelicula}" enctype="multipart/form-data">

                            <!---------------------------------------------------- Errores ---------------------------------------------------->
                            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                                Por favor corrija los siguientes errores:
                                <ul>
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                                </ul>
                            </div>

                            <div class="mb-4 row g-5">

                                <!---------------------------------------------------- Título ---------------------------------------------------->
                                <div class="col">
                                    <label for="titulo" class="form-label fw-bold">Titulo</label>
                                    <input type="text" class="form-control" th:field="*{titulo}" id="titulo" name="titulo"
                                           placeholder="Titulo de la película" required="required" maxlength="100">
                                </div>

                                <!---------------------------------------------------- Año ---------------------------------------------------->
                                <div class="col">
                                    <label for="anio" class="form-label fw-bold">
                                        Año
                                    </label>
                                    <input type="number" class="form-control" th:field="*{anio}" id="anio" name="anio"
                                           placeholder="Año de la película" required="required">
                                </div>
                            </div>

                            <div class="mb-4 row g-5">

                                <!---------------------------------------------------- Duración ---------------------------------------------------->
                                <div class="col">
                                    <label for="duracion" class="form-label fw-bold">
                                        Duración (mins)
                                    </label>
                                    <input type="number" class="form-control" th:field="*{duracion}" id="duracion" name="duracion"
                                           placeholder="Duración de la película en minutos" required="required">
                                </div>

                                <!---------------------------------------------------- Dirección ---------------------------------------------------->
                                <div class="col">
                                    <label for="direccion" class="form-label fw-bold">
                                        Dirección
                                    </label>
                                    <input type="text" class="form-control" th:field="*{direccion}" id="direccion" name="direccion"
                                           placeholder="Escriba el director de la película" required="required" maxlength="100">
                                </div>
                            </div>

                            <div class="mb-4 row g-5">

                                <!---------------------------------------------------- Género ---------------------------------------------------->
                                <div class="col">
                                    <label for="genero" class="form-label fw-bold">
                                        Género
                                    </label>
                                    <select class="form-select" th:field="*{genero}" name="genero" id="genero">
                                        <!--                 <option th:value="" selected>Seleccionar categoría</option> -->
                                        <option value="Acción">Acción</option>
                                        <option value="Animación">Animación</option>
                                        <option value="Aventura">Aventura</option>
                                        <option value="Ciencia Ficción">Ciencia Ficción</option>
                                        <option value="Comedia">Comedia</option>
                                        <option value="Drama">Drama</option>
                                        <option value="Documental">Documental</option>
                                        <option value="Fantasía">Fantasía</option>
                                        <option value="Musical">Musical</option>
                                        <option value="Romance">Romance</option>
                                        <option value="Suspense">Suspense</option>
                                        <option value="Terror">Terror</option>
                                        <option value="Thriller">Thriller</option>
                                    </select>
                                </div>

                                <!---------------------------------------------------- Pais ---------------------------------------------------->
                                <div class="col">
                                    <label for="pais" class="form-label fw-bold">
                                        Pais
                                    </label>
                                    <select class="form-select" data-flag="true"  th:field="*{pais}" name="pais" id="pais" style="text-align: left">
                                        <option th:each="pais :${paises}" th:value="${pais}" th:text="${pais}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!---------------------------------------------------- Sinopsis ---------------------------------------------------->
                            <div class="mb-3">
                                <label for="sinopsis" class="form-label fw-bold">
                                    Sinopsis
                                </label>
                                <textarea class="form-control" th:field="*{sinopsis}" id="sinopsis" name="sinopsis"
                                          placeholder="Escriba la sinopsis de la película" required="required" rows="4" maxlength="1000">
                    </textarea>
                            </div>

                            <!---------------------------------------------------- Imagen (Si estamos en editar) ---------------------------------------------------->
                            <img th:if="${pelicula.imagen != null && #strings.length(pelicula.imagen) > 0}" class="img-thumbnail rounded float-left"
                                 style="max-width: 25%;" th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagen}}"
                                 th:alt="${pelicula.imagen}" />

                            <!---------------------------------------------------- Imagen ---------------------------------------------------->
                            <div class="mb-3">
                                <label for="file" class="col-sm-2 col-form-label fw-bold">
                                    Imagen
                                </label>
                                <div class="col-sm-6">
                                    <input type="file" id="file" name="file" class="form-control"
                                           th:required="${(pelicula.imagen != null && #strings.length(pelicula.imagen) > 0)} ? null : 'required' "/>
                                </div>
                            </div>

                            <!---------------------------------------------------- Actores ---------------------------------------------------->
                            <div style="margin-bottom: 120px">
                                <label for="actores" class="form-label fw-bold">
                                    Actores
                                </label>
                                <select class="form-select" th:field="*{actores}" name="actores" id="actores"
                                        multiple th:data-actores="${actoresSeleccionados}"
                                >
                                    <option th:each="actor :${listadoActores}" th:value="${actor.getIdActor()}"
                                            th:text="${actor.getNombre()}"
                                    >
                                    </option>
                                </select>
                            </div>

                            <!---------------------------------------------------- Botones ---------------------------------------------------->
                            <button type="submit" class="btn btn-dark my-5 fw-bold" style="width: 130px; height: 40px">
                                Guardar
                            </button>
                            <a type="button" class="btn btn-primary my-5 fw-bold ms-3" href="javascript:window.history.back();"
                               style="width: 130px; height: 40px">
                                Volver
                            </a>

                            <input type="hidden" th:field="*{idPelicula}" />
                            <input type="hidden" th:field="*{imagen}"/>

                        </form>
                    </div>
                </div>
            </div>


        </main>

        <footer style="height: 56px; background-color: #A6E26E;">
            <div class="h-100 d-flex justify-content-center">
                <p class="m-auto">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                    <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                    by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
                </p>
            </div>
        </footer>

        <!------------------------------------------------- Scripts ------------------------------------------------->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script>
            $( document ).ready(function(){

                $('#pais').select2();
                $('#genero').select2({
                    minimumResultsForSearch: -1,

                });

                $( '#actores' ).select2( {
                    theme: "bootstrap-5",
                    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                    placeholder: $( this ).data( 'placeholder' ),
                    closeOnSelect: false,
                    dropdownPosition: 'below', // Establece la posición del dropdown debajo
                    dropdownCssClass: 'select2-dropdown-adjust', // Clase para ajustar estilos del dropdown
                })

                var actoresSeleccionados = $('#actores').data('actores');
                // Selecciona los actores en el selector múltiple
                $('#actores').val(actoresSeleccionados);
                $('#actores').trigger('change'); // Notifica a Select2 sobre el cambio
            });
        </script>

    </body>
</html>