<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>FilmSpringnity</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

        <!----------------------- Estilos Custom ----------------------->
        <style>
            .tarjeta{
                transition: all 0.3s;
            }
            .tarjeta:hover{
                transform: scale(1.10);
                cursor: pointer;
            }
        </style>
    </head>

    <body class="text-center" style="background-color:#F9F9F9">

        <header>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
                <div class="container-fluid">

                    <!------------------------------ icono ------------------------------>
                    <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!------------------------------ botón del menu ------------------------------>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/cpeliculas/listado}">Películas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/ccriticas/criticas}">Criticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/panelControl}" sec:authorize="hasRole('ROLE_ADMIN')"
                                >Panel de Control</a>
                            </li>
                        </ul>

                        <hr class="d-md-none text-black">

                        <!------------------------------ Botones Identificación ------------------------------>
                        <form class="d-flex  me-0 me-md-5 justify-content-center">
                            <a th:href="@{/logout}" type="button" class="btn btn-danger px-3 me-2">
                                Cerrar Sesión
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
        </header>

        <main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);">

            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <div th:if="${msga != null}" class='alert alert-danger' th:text="${msga}" role='alert'></div>

            <div class="card h-100">

                <div class="card-body">
                    <div class="bg-light w-75 mx-auto rounded rounded-5 mb-5 border border-5 shadow">
                        <h5 class="fw-bold mb-3 text-decoration-underline py-3">Filtros</h5>

                        <div class="row mb-3 justify-content-center">
                            <!---------------------------------- Buscador Por Título ---------------------------------->
                            <form th:action="@{/cpeliculas/titulo/8}" method="get" class="col me-5">
                                <div class="mb-3 row justify-content-end">
                                    <label for="titulo" class="col-auto col-form-label fw-bold">Titulo: </label>
                                    <div class="col-5">
                                        <input type="text" class="form-control" id="titulo" name="titulo"
                                               placeholder="Escriba el título de la película">
                                    </div>
                                    <div class="col-auto text-end ms-2">
                                        <button type="submit" class="btn btn-success mb-3">Buscar</button>
                                    </div>
                                </div>
                            </form>

                            <!----------------------------------- Buscador por Género ----------------------------------->
                            <form th:action="@{/cpeliculas/genero/8}" method="get" class="col">
                                <div class="mb-3 row justify-content-start">
                                    <label for="genero" class="col-auto col-form-label fw-bold">Genero: </label>
                                    <div class="col-5">
                                        <select class="form-select" name="genero" id="genero">
                                            <option value="">--- Genero ---</option>
                                            <option value="Acción">Acción</option>
                                            <option value="Animación">Animación</option>
                                            <option value="Aventura">Aventura</option>
                                            <option value="Ciencia Ficción">Ciencia Ficción</option>
                                            <option value="Comedia">Comedia</option>
                                            <option value="Drama">Drama</option>
                                            <option value="Documental">Documental</option>
                                            <option value="Fantasía">Fantasía</option>
                                            <option value="Musical">Musical</option>
                                            <option value="Romance">Romance</option>
                                            <option value="Suspense">Suspense</option>
                                            <option value="Terror">Terror</option>
                                            <option value="Thriller">Thriller</option>
                                        </select>
                                    </div>
                                    <div class="col-auto text-end ms-2">
                                        <button type="submit" class="btn btn-success mb-3">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <!----------------------------------- Buscador por Actor ----------------------------------->
                            <form th:action="@{/cpeliculas/actor/8}" method="get" class="col me-5">
                                <div class="mb-3 row justify-content-end">
                                    <label for="actor" class="col-auto col-form-label fw-bold">Actor: </label>
                                    <div class="col-5">
                                        <input type="text" class="form-control" id="actor" name="actor"
                                               placeholder="Escriba el nombre del actor">
                                    </div>
                                    <div class="col-auto text-end ms-2">
                                        <button type="submit" class="btn btn-success mb-3">Buscar</button>
                                    </div>
                                </div>
                            </form>

                            <!----------------------------------- Buscador por Año ----------------------------------->
                            <form th:action="@{/cpeliculas/anio/8}" method="get" class="col">
                                <div class="mb-3 row justify-content-start">
                                    <label for="min" class="col-auto col-form-label fw-bold">Desde: </label>
                                    <div class="col-2">
                                        <input type="number" class="form-control" id="min" name="min"
                                               placeholder="Desde" value="0" required>
                                    </div>
                                    <label for="max" class="col-auto col-form-label fw-bold">Hasta: </label>
                                    <div class="col-2">
                                        <input type="number" class="form-control" id="max" name="max"
                                               placeholder="Hasta" value="2024" required>
                                    </div>
                                    <div class="col-auto text-end ms-2">
                                        <button type="submit" class="btn btn-success mb-3">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!---------------------------------- Tarjetas Películas ---------------------------------->
                    <div class="bg-light w-75 mx-auto rounded rounded-5 border border-5 shadow ">
                        <h3 th:text="${titulo}" class="text-center mt-3 mb-5 text-decoration-underline"></h3>
                        <div class="row row-cols-4">
                            <div class="mb-5 tarjeta" th:each="pelicula : ${listadoPeliculas}">
                                <a th:href="@{/cpeliculas/detallePelicula/{id}  (id=${pelicula.idPelicula})}">
                                    <div class="border border-1 bg-light shadow mx-auto rounded" style="max-width: 250px;max-height:420px ">
                                        <img th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagen}}" th:alt="${pelicula.imagen}"
                                             class="mx-3 mt-3 rounded img-fluid " style="width: 210px; height: 360px"
                                        />
                                        <p class="p-2 fw-bold" th:text="${pelicula.titulo}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mx-auto">
                    <nav th:replace="paginator-nav :: paginator"></nav>
                </div>
            </div>
        </main>

        <footer style="height: 56px; background-color: #A6E26E;">
            <div class="h-100 d-flex justify-content-center">
                <p class="m-auto">Trabajo Final de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                    <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                    by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
                </p>
            </div>
        </footer>

        <script th:src="@{/js/bootstrap.min.js}"></script>

    </body>
</html>