<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmSpringnity</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
</head>
<body class="vh-100" style="background-color:#F9F9F9">

<div class="cover-container d-flex vh-100 flex-column mx-auto">
    <header class="mb-1">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A6E26E;">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="https://mdbgo.com/">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/2560px-Spring_Framework_Logo_2018.svg.png"
                            height="30"
                            alt="MDB Logo"
                            loading="lazy"
                            style="margin-top: -1px;"
                    />
                </a>

                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">FilmSpringnity</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/home2}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/buscarPublic}">Buscador Avanzado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/listado2}">Peliculas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Actores</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cpeliculas/gestionPeliculas}">Panel de Control</a>
                        </li>
                    </ul>

                    <!-- Left links -->

                    <div class="">
                        <button type="button" class="btn btn-link px-3 me-2">
                            Iniciar Sesión
                        </button>
                        <button type="button" class="btn btn-primary me-3">
                            Registrarse
                        </button>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>


    <main class="px-3 w-75 mx-auto">

        <h2 class="text-secondary border border-top-0 border-3 text-center pt-1 pb-2" style="border-color: #A6E26E !important; margin-top: -4px;">Búsqueda de Peliculas</h2>
        <form th:action="@{/cpeliculas/titulo/1}" method="get">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo"
                       placeholder="Escriba el título de la película">
            </div>
            <button type="submit" class="btn btn-success">Buscar por Título</button>
        </form>
        <hr>
        <form th:action="@{/cpeliculas/genero/1}" method="get">
            <div class="mb-3">
                <label for="titulo" class="form-label">Género</label>
                <select class="form-select" name="genero" id="genero">
                    <!--                 <option selected>Seleccionar categoría</option> -->
                    <option th:value="Misterio">Misterio</option>
                    <option th:value="CienciaFiccion">CienciaFiccion</option>
                    <option th:value="Suspense">Suspense</option>
                    <option th:value="Animacion">Animacion</option>
                    <option th:value="Terror">Terror</option>
                    <option th:value="Comedia">Comedia</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Buscar por Género</button>
        </form>
        <hr>
        <form th:action="@{/cpeliculas/actor/1}" method="get">
            <div class="mb-3">
                <label for="actor" class="form-label">Nombre del Actor</label>
                <input type="text" class="form-control" id="actor" name="actor"
                       placeholder="Escriba el nombre del Actor del curso">
            </div>
            <button type="submit" class="btn btn-success">Buscar por Actor</button>
        </form>

        <hr>
        <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/home2}">Inicio</a>
    </main>

    <footer class="mt-auto" style="background-color: #A6E26E;">
        <p class="pt-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
            <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
            by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
        </p>
    </footer>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>