<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>PeliculasApp | Aplicación de gestión de Peliculas</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="vh-100" style="background-color:#F9F9F9">

  <div class="cover-container vh-100 flex-column mx-auto">
    <header class="mb-auto">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A6E26E;">
        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" th:href="@{/cpeliculas/}">
            <img
                    th:src="@{/logo_def.png}"
                    height="40"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -12px; margin-bottom: -10px"
            />
          </a>

          <!-- Toggle button -->
          <button
                  class="navbar-toggler"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#navbarButtonsExample"
                  aria-controls="navbarButtonsExample"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/buscarListado}">Buscador Avanzado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
              </li>
            </ul>

            <!-- Left links -->

            <div class="">
              <button type="button" class="btn btn-link px-3 me-2">
                Iniciar Sesión
              </button>
              <button type="button" class="btn btn-primary me-3">
                Registrarse
              </button>
            </div>
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    </header>


    <main class="mb-1">
      <div class="card">
        <h2 th:text="${titulo}" class="card-header text-center"></h2>
        <div class="card-body mx-auto" style="width: 85%">
          <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
          <h4 class="card-title text-end me-4">
            <a th:href="@{/cpeliculas/nueva}" class="btn btn-primary btn-xs">Crear nueva película</a>
          </h4>

          <table class="table table-hover mx-auto">
            <thead class="thead-light">
              <tr>
                <th class="col">Id</th>
                <th class="col">Titulo</th>
                <th class="col">Año</th>
                <th class="col">Duracion</th>
                <th class="col">Pais</th>
                <th class="col">Direccion</th>
                <th class="col-2">Sinopsis</th>
                <th class="col">Imagen</th>
                <th class="col">Genero</th>
                <th class="col">Reparto</th>
                <th class="col">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="pelicula : ${listadoPeliculas}">
                <td><a class="btn btn-secondary btn-xs text-white" th:href="@{/cpeliculas/detallePelicula/} + ${pelicula.idPelicula}"
                       th:text="${pelicula.idPelicula}"></a>
                </td>
                <td th:text="${pelicula.titulo}"></td>
                <td th:text="${pelicula.anio}"></td>
                <td th:text="${pelicula.duracion} + ' mins'"></td>
                <td th:text="${pelicula.pais}"></td>
                <td th:text="${pelicula.direccion}"></td>
                <td th:if="${pelicula.sinopsis.length() >= 150 }" th:text="${pelicula.sinopsis.substring(0,150) + '...'}" th:title="${pelicula.sinopsis}"></td>
                <td th:unless="${pelicula.sinopsis.length() >= 150 }" th:text="${pelicula.sinopsis}"></td>
                <td><img  th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagen}}" th:alt="${pelicula.imagen}"
                         style="width:70px; height: 120px"></td>
                <td th:text="${pelicula.genero}"></td>
                <td><a th:each="actor :${pelicula.actores}" th:text="${actor.nombre}"
                       th:href="@{/cactores/detalleActor/{id}  (id=${actor.idActor})  }" class="mx-2"></a></td>
                <td>
                  <a th:href="@{/cpeliculas/editar/{id}  (id=${pelicula.idPelicula})  }" th:text="'editar'"
                     class="btn btn-success btn-sm" role="button" title="Editar la Película.">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                  </a>
                  <a th:href="@{/cpeliculas/borrar/{id}  (id=${pelicula.idPelicula})   }" th:text="'borrar'"
                     onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la Película.">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
        <hr>
        <a class="btn btn-primary mx-auto" role="button" th:href="@{/cpeliculas/panelControl}" style="width: 15%">Volver</a>
      </div>
    </main>

    <footer class="mt-auto text-center" style="background-color: #A6E26E;">
      <p class="py-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
        <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
        by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
      </p>
    </footer>
  </div>

  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>