<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8">
    <title>PeliculasApp | Aplicación de gestión de Peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  </head>

  <body style="background-color:#F9F9F9">

    <header>
      <!---------------------------------------------------- Navbar ---------------------------------------------------->
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
        <div class="container-fluid">

          <!------------------------------ icono ------------------------------>
          <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
            <img
                    th:src="@{/logo_def.png}"
                    height="40"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -12px; margin-bottom: -10px"
            />
          </a>

          <!------------------------------ botón del menu ------------------------------>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/buscarListado}">Buscador Avanzado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
              </li>
            </ul>

            <hr class="d-md-none text-black">

            <!------------------------------ Botones Identificación ------------------------------>
            <form class="d-flex  me-0 me-md-5 justify-content-center">
              <button type="button" class="btn btn-link px-3 me-2">
                Iniciar Sesión
              </button>
              <button type="button" class="btn btn-primary me-3">
                Registrarse
              </button>
            </form>
          </div>
        </div>
      </nav>
      <!---------------------------------------------------- Navbar ---------------------------------------------------->
    </header>

    <main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);">

      <div class="card">

        <h2 th:text="${titulo}" class="card-header text-center"></h2>

        <div class="card-body mx-auto" style="width: 85%">

          <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

          <!---------------------------------------------------- Btn Crear Pelicula ---------------------------------------------------->
          <h4 class="card-title text-end me-4">
            <a th:href="@{/cpeliculas/nueva}" class="btn btn-primary btn-xs">Crear nueva película</a>
          </h4>

          <!---------------------------------------------------- Tabla ---------------------------------------------------->
          <table class="table table-hover mx-auto">

            <thead class="thead-light">
              <tr>
                <th class="col">Id</th>
                <th class="col">Título</th>
                <th class="col">Año</th>
                <th class="col">Duración</th>
                <th class="col">Pais</th>
                <th class="col">Dirección</th>
                <th class="col-2">Sinopsis</th>
                <th class="col">Imagen</th>
                <th class="col">Género</th>
                <th class="col">Reparto</th>
                <th class="col">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="pelicula : ${listadoPeliculas}">
                <td><a class="btn btn-secondary btn-xs text-white" th:href="@{/cpeliculas/detallePelicula/} + ${pelicula.idPelicula}"
                       th:text="${pelicula.idPelicula}"></a>
                </td>
                <td th:text="${pelicula.titulo}"></td>
                <td th:text="${pelicula.anio}"></td>
                <td th:text="${pelicula.duracion} + ' mins'"></td>
                <td th:text="${pelicula.pais}"></td>
                <td th:text="${pelicula.direccion}"></td>
                <td th:if="${pelicula.sinopsis.length() >= 150 }"
                    th:text="${pelicula.sinopsis.substring(0,150) + '...'}"
                    th:title="${pelicula.sinopsis}">
                </td>
                <td th:unless="${pelicula.sinopsis.length() >= 150 }"
                    th:text="${pelicula.sinopsis}">
                </td>
                <td>
                  <img  th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagen}}"
                        th:alt="${pelicula.imagen}" style="width:70px; height: 120px"/>
                </td>
                <td th:text="${pelicula.genero}"></td>
                <td>
                  <a th:each="actor :${pelicula.actores}" th:text="${actor.nombre}"
                       th:href="@{/cactores/detalleActor/{id}  (id=${actor.idActor})}"
                     class="mx-2">
                  </a>
                </td>
                <td>
                  <a th:href="@{/cpeliculas/editar/{id}  (id=${pelicula.idPelicula})}"
                     th:text="'editar'" class="btn btn-success btn-sm mb-3"
                     role="button" title="Editar la Película."
                  >
                  </a>
                  <a th:href="@{/cpeliculas/borrar/{id}  (id=${pelicula.idPelicula})   }"
                     th:text="'borrar'" onclick="return confirm('¿Estas seguro?')"
                     class="btn btn-danger btn-sm mb-3" role="button" title="Eliminar la Película."
                  >
                  </a>
                </td>
              </tr>
            </tbody>

          </table>

          <nav th:replace="paginator-nav :: paginator"></nav>
          <hr>

        </div>


        <!---------------------------------------------------- Btn Volver ---------------------------------------------------->
        <a class="btn btn-primary mx-auto mb-3" role="button"
           th:href="@{/cpeliculas/panelControl}" style="width: 15%"
        >
          Volver
        </a>

      </div>
    </main>

    <footer style="height: 56px; background-color: #A6E26E;">
      <div class="h-100 d-flex justify-content-center">
        <p class="m-auto">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
          <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
          by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
        </p>
      </div>
    </footer>

    <script th:src="@{/js/bootstrap.min.js}"></script>

  </body>
</html>