<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <title>FilmSpringnity</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>

    <body style="background-color:#F9F9F9">

        <header>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
                <div class="container-fluid">

                    <!------------------------------ icono ------------------------------>
                    <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!------------------------------ botón del menu ------------------------------>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/ccriticas/criticas}">Criticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                            </li>
                        </ul>

                        <hr class="d-md-none text-black">

                        <!------------------------------ Botones Identificación ------------------------------>
                        <form class="d-flex  me-0 me-md-5 justify-content-center">
                            <button type="button" class="btn btn-link px-3 me-2">
                                Iniciar Sesión
                            </button>
                            <button type="button" class="btn btn-primary me-3">
                                Registrarse
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
        </header>


        <main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);">
            <div class="card">

                <div class="card-body mx-auto" style="width: 85%">
                    <div th:if="${msg != null}" class='alert alert-success'
                         th:text="${msg}" role='alert'
                    >
                    </div>

                    <!------------------------------------------------ FILTROS ------------------------------------------------>
                    <div class=" mx-auto rounded rounded-5 mb-5 border border-5 shadow">

                        <h5 class="fw-bold mb-3 text-decoration-underline py-3 text-center">Filtros</h5>

                        <div class="row mb-3">

                            <!---------------------------------- Buscador Por Nombre ---------------------------------->
                            <form th:action="@{/cusuarios/nombre}" method="get" class="col">
                                <div class="mb-3 row justify-content-center">
                                    <label for="nombre" class="col-auto col-form-label fw-bold">Usuario: </label>
                                    <div class="col-5">
                                        <input type="text" class="form-control" id="nombre" name="nombre"
                                               placeholder="Escriba el usuario">
                                    </div>
                                    <div class="col-auto text-end ms-2">
                                        <button type="submit" class="btn btn-success mb-3">Buscar</button>
                                    </div>
                                </div>
                            </form>

                            <!---------------------------------- Buscador Por Correo ---------------------------------->
                            <form th:action="@{/cusuarios/correo}" method="get" class="col">
                                <div class="mb-3 row justify-content-center">
                                    <label for="correo" class="col-auto col-form-label fw-bold">Correo: </label>
                                    <div class="col-5">
                                        <input type="text" class="form-control" id="correo" name="correo"
                                               placeholder="Escriba el correo">
                                    </div>
                                    <div class="col-auto text-end ms-2">
                                        <button type="submit" class="btn btn-success mb-3">Buscar</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                    <div class=" mx-auto rounded rounded-5 border border-5 shadow ">
                        <h3 th:text="${titulo}" class="text-center mt-3 mb-3 text-decoration-underline"></h3>

                        <!---------------------------------------------------- Btn Crear Usuario ---------------------------------------------------->
                        <h4 class="card-title text-end me-5 mb-2">
                            <a th:href="@{/cusuarios/nuevo}" class="btn btn-primary btn-xs">
                                Crear Usuario
                            </a>
                        </h4>

                        <!---------------------------------------------------- Tabla ---------------------------------------------------->
                        <table class="table table-hover mx-auto" style="width: 95%">
                            <thead class="thead-light">
                            <tr>
                                <th class="col">Id</th>
                                <th class="col">Nombre</th>
                                <th class="col">Clave</th>
                                <th class="col">Correo</th>
                                <th class="col">Rol</th>
                                <th class="col text-end">Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="usuario : ${listadoUsuarios}">
                                <td>
                                    <a class="btn btn-secondary btn-xs text-white"
                                       th:href="@{/cusuarios/ver/} + ${usuario.idUsuario}"
                                       th:text="${usuario.idUsuario}"
                                    >
                                    </a>
                                </td>
                                <td th:text="${usuario.nombre}"></td>
                                <td th:text="${usuario.password}"></td>
                                <td th:text="${usuario.correo}"></td>
                                <td>
                                    <table>
                                        <tbody>
                                        <tr th:each="rol: ${usuario.roles}">
                                            <td th:text="${rol.authority}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="text-end">
                                    <a th:href="@{/cusuarios/editar/{id}  (id=${usuario.idUsuario})}"
                                       th:text="'editar'" class="btn btn-success btn-sm" role="button"
                                       title="Editar el usuario."
                                    >
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    <a th:href="@{/cusuarios/borrar/{id}  (id=${usuario.idUsuario})}"
                                       th:text="'borrar'" onclick="return confirm('¿Estas seguro?')"
                                       class="btn btn-danger btn-sm" role="button" title="Eliminar el usuario."
                                    >
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-center py-4">
                            <nav th:replace="paginator-nav :: paginator"></nav>
                        </div>
                    </div>
                </div>

                <!---------------------------------------------------- Btn Volver ---------------------------------------------------->
                <a class="btn btn-primary mx-auto mb-3" role="button" th:href="@{/cpeliculas/panelControl}"
                   style="width: 15%"
                >
                    Volver
                </a>
            </div>
        </main>

        <footer class="h-auto text-center" style="background-color: #A6E26E;">
            <p class="py-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
            </p>
        </footer>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>