<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FilmSpringnity</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>

    <body class="text-center" style="background-color:#F9F9F9">

        <header>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
                <div class="container-fluid">

                    <!------------------------------ icono ------------------------------>
                    <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!------------------------------ botón del menu ------------------------------>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/ccriticas/criticas}">Criticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                            </li>
                        </ul>

                        <hr class="d-md-none text-black">

                        <!------------------------------ Botones Identificación ------------------------------>
                        <form class="d-flex  me-0 me-md-5 justify-content-center">
                            <a th:href="@{/logout}" type="button" class="btn btn-danger px-3 me-2">
                                Cerrar Sesión
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
        </header>

        <main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);">

            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <div th:if="${msga != null}" class='alert alert-danger' th:text="${msga}" role='alert'></div>

            <div class="card w-50 mx-auto h-100">

                <h2 th:text="${titulo}" class="card-header">
                </h2>

                <div class="card-body mt-5">

                    <!------------------------------------------ ID ------------------------------------------>
                    <div class="row mx-auto mb-4 mt-1">
                        <div class="col-4 text-end">
                            <label class="col-form-label fw-bold">
                                ID:
                            </label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <input disabled type="text" class="form-control" th:field="*{usuario.idUsuario}"
                                   id="id" required="required" maxlength="50"
                            >
                        </div>
                    </div>

                    <!------------------------------------------ Nombre ------------------------------------------>
                    <div class="row mx-auto mb-4">
                        <div class="col-4 text-end">
                            <label class="col-form-label fw-bold">
                                Nombre:
                            </label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <input disabled type="text" class="form-control" th:field="*{usuario.nombre}"
                                   id="nombre" required="required" maxlength="50"
                            >
                        </div>
                    </div>

                    <!------------------------------------------ Contraseña ------------------------------------------>
                    <div class="row mx-auto mb-4">
                        <div class="col-4 text-end">
                            <label class="col-form-label fw-bold">
                                Contraseña:
                            </label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <input disabled type="text" class="form-control" th:field="*{usuario.password}"
                                   id="password" required="required" maxlength="50"
                            >
                        </div>
                    </div>

                    <!------------------------------------------ Correo ------------------------------------------>
                    <div class="row mx-auto mb-4">
                        <div class="col-4 text-end">
                            <label class="col-form-label fw-bold">
                                Correo:
                            </label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <input disabled type="text" class="form-control" th:field="*{usuario.correo}"
                                   id="correo" required="required" maxlength="50"
                            >
                        </div>
                    </div>

                    <!------------------------------------------ Rol ------------------------------------------>
                    <div class="row mx-auto mb-4">
                        <div class="col-4 text-end">
                            <label class="col-form-label fw-bold">
                                Rol:
                            </label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <input disabled type="text" class="form-control" th:field="*{usuario.roles}"
                                   id="rol" required="required" maxlength="50"
                            >
                        </div>
                    </div>

                    <!------------------------------------------ Btn Volver ------------------------------------------>
                    <div class="row w-25 mx-auto" style="padding: 30px 0">
                        <a class="btn btn-primary" style="" role="button"
                           href="javascript:window.history.back();"
                        >
                            Volver
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <footer style="height: 56px; background-color: #A6E26E;">
            <div class="h-100 d-flex justify-content-center">
                <p class="m-auto">Trabajo Final de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                    <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                    by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
                </p>
            </div>
        </footer>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>