<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmSpringnity</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
</head>
<body class="text-center vh-100" style="background-color:#F9F9F9">

    <div class="cover-container d-flex vh-100 flex-column mx-auto">
        <header class="mb-auto">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A6E26E;">
                <!-- Container wrapper -->
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand me-2" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!-- Toggle button -->
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#navbarButtonsExample"
                            aria-controls="navbarButtonsExample"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarButtonsExample">
                        <!-- Left links -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        </ul>

                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/listado}">Peliculas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/buscarListado}">Buscador Avanzado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                            </li>
                        </ul>

                        <!-- Left links -->

                        <div class="">
                            <button type="button" class="btn btn-link px-3 me-2">
                                Iniciar Sesión
                            </button>
                            <button type="button" class="btn btn-primary me-3">
                                Registrarse
                            </button>
                        </div>
                    </div>
                    <!-- Collapsible wrapper -->
                </div>
                <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->
        </header>


        <main class="px-3">
            <marquee class="w-50" scrollamount="15">
                <h1 class="display-1">Bienvenidos</h1>
            </marquee>
            <p class="lead">
                Elige la opción que desee en la navegación para comenzar a utilizar la aplicación.
            </p>
        </main>

        <footer class="mt-auto" style="background-color: #A6E26E;">
            <p class="pt-3">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
            </p>
        </footer>
    </div>

    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>