<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>FilmSpringnity</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>

    <style>

        .tarjeta {
            width: 360px;
            height: 200px;
            border-radius: 20px;
            background: #f5f5f5;
            position: relative;
            padding: 1.8rem;
            border: 2px solid #c3c6ce;
            transition: 0.5s ease-out;
            overflow: visible;
        }

        .tarjeta-button {
            transform: translate(-50%, 125%);
            width: 60%;
            border-radius: 1rem;
            border: none;
            background-color: #A6E26E;
            color: #fff;
            font-size: 1rem;
            padding: .5rem 1rem;
            position: absolute;
            left: 50%;
            bottom: 0;
            opacity: 0;
            transition: 0.3s ease-out;
        }

        .tarjeta-detalle {
            color: black;
            height: 100%;
            gap: .5em;
            display: grid;
            place-content: center;
        }

        /*Hover*/
        .tarjeta:hover {
            border-color: #A6E26E;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        }

        .tarjeta:hover .tarjeta-button {
            transform: translate(-50%, 50%);
            opacity: 1;
        }
    </style>

    <body class="text-center" style="background-color:#F9F9F9">

        <header>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
                <div class="container-fluid">

                    <!------------------------------ icono ------------------------------>
                    <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!------------------------------ botón del menu ------------------------------>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/buscarListado}">Buscador Avanzado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                            </li>
                        </ul>

                        <hr class="d-md-none text-black">

                        <!------------------------------ Botones Identificación ------------------------------>
                        <form class="d-flex  me-0 me-md-5 justify-content-center">
                            <button type="button" class="btn btn-link px-3 me-2">
                                Iniciar Sesión
                            </button>
                            <button type="button" class="btn btn-primary me-3">
                                Registrarse
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
        </header>

        <main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);" >
            <div class="mx-auto border border-3 rounded rounded-4 shadow-lg" style="width: 85%; min-height: calc(100vh - 56px - 56px);">
                <!------------------------- Título ------------------------->
                <div class="mb-5 rounded rounded-4 border-bottom border-3" style="background-color: #EdEdEd">
                    <h1 class="text-center py-3">Panel de Control</h1>
                </div>

                <!------------------------- Tarjetas ------------------------->
                <div>
                    <div class="row">
                        <a class="col d-flex justify-content-center" th:href="@{/cpeliculas/tabla}" style="text-decoration: none">
                            <div class="tarjeta bg-white">
                                <div class="tarjeta-detalle">
                                    <h3 class="card-title">Gestión Películas</h3>
                                    <p style="color: rgb(134, 134, 134);">Buscar, Crear, Borrar, Editar, Eliminar Películas</p>
                                </div>
                                <button class="tarjeta-button">Más info</button>
                            </div>
                        </a>

                        <a class="col d-flex justify-content-center" th:href="@{/cactores/tabla}" style="text-decoration: none">
                            <div class="tarjeta bg-white">
                                <div class="tarjeta-detalle">
                                    <h3 class="card-title">Gestión Actores</h3>
                                    <p style="color: rgb(134, 134, 134);">Buscar, Crear, Borrar, Editar, Eliminar Actores</p>
                                </div>
                                <button class="tarjeta-button">Más info</button>
                            </div>
                        </a>

                        <a class="col d-flex justify-content-center" th:href="@{/cusuarios/listado}" style="text-decoration: none">
                            <div class="tarjeta bg-white">
                                <div class="tarjeta-detalle">
                                    <h3 class="card-title">Gestión Usuarios</h3>
                                    <p style="color: rgb(134, 134, 134);">Buscar, Crear, Borrar, Editar, Eliminar Usuarios</p>
                                </div>
                                <button class="tarjeta-button">Más info</button>
                            </div>
                        </a>

                        <a class="col d-flex justify-content-center" th:href="@{/ccriticas/listado}" style="text-decoration: none">
                            <div class="tarjeta bg-white">
                                <div class="tarjeta-detalle">
                                    <h3 class="card-title">Gestión Críticas</h3>
                                    <p style="color: rgb(134, 134, 134);">Buscar, Crear, Borrar, Editar, Eliminar Críticas</p>
                                </div>
                                <button class="tarjeta-button">Más info</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <footer style="height: 56px; background-color: #A6E26E;">
            <div class="h-100 d-flex justify-content-center">
                <p class="m-auto">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                    <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                    by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
                </p>
            </div>
        </footer>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>