<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>FilmSpringnity</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>

    <body class="text-center" style="background-color:#F9F9F9">

        <header>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
                <div class="container-fluid">

                    <!------------------------------ icono ------------------------------>
                    <a class="navbar-brand ms-5" th:href="@{/cpeliculas/}">
                        <img
                                th:src="@{/logo_def.png}"
                                height="40"
                                alt="MDB Logo"
                                loading="lazy"
                                style="margin-top: -12px; margin-bottom: -10px"
                        />
                    </a>

                    <!------------------------------ botón del menu ------------------------------>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/cpeliculas/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/listado}">Películas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cactores/listado}">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/buscarListado}">Buscador Avanzado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cpeliculas/panelControl}">Panel de Control</a>
                            </li>
                        </ul>

                        <hr class="d-md-none text-black">

                        <!------------------------------ Botones Identificación ------------------------------>
                        <form class="d-flex  me-0 me-md-5 justify-content-center">
                            <button type="button" class="btn btn-link px-3 me-2">
                                Iniciar Sesión
                            </button>
                            <button type="button" class="btn btn-primary me-3">
                                Registrarse
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <!---------------------------------------------------- Navbar ---------------------------------------------------->
        </header>

        <main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);">
            <div class="pt-3 mx-auto" style="width: 85%">
                <!------------------------- Título ------------------------->
                <h1 class="text-center">Panel de Control</h1>
                <hr>

                <!------------------------- Tarjetas ------------------------->
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Gestión Películas</h3>
                            <a class="btn btn-link" th:href="@{/cpeliculas/tabla}">
                                Listado Peliculas Tabla
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Buscar Peliculas Tabla</h3>
                            <a class="btn btn-link" th:href="@{/cpeliculas/buscarTabla}">
                                Buscar Peliculas Tabla
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Gestión Actores</h3>
                            <a class="btn btn-link" th:href="@{/cactores/tabla}">
                                Listado de Actores Tabla
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Listado usuarios</h3>
                            <a class="btn btn-link" th:href="@{/cusuarios/listado}">
                                Listado de usuarios
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Listado Críticas</h3>
                            <a class="btn btn-link" th:href="@{/ccriticas/listado}">
                                Listado de Críticas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer style="height: 56px; background-color: #A6E26E;">
            <div class="h-100 d-flex justify-content-center">
                <p class="m-auto">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
                    <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
                    by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
                </p>
            </div>
        </footer>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>