<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>FilmSpringnity</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="text-center" style="background-color:#F9F9F9">

<header>
    <!---------------------------------------------------- Navbar ---------------------------------------------------->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #A6E26E;">
        <div class="container-fluid">


            <!------------------------------ elementos de la navbar y del menu colapsable ------------------------------>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" th:href="@{/cpeliculas/}">FILMSPRINGNITY</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---------------------------------------------------- Navbar ---------------------------------------------------->
</header>

<main class="container-fluid" style="min-height: calc(100vh - 56px - 56px);">

    <div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 100px - 100px);">
        <div class="card mx-auto" style="width: 40%;">
            <h3 class="card-header mb-5 text-center">Registrarse</h3>
            <div class="w-50 mx-auto my-auto">

                <form th:action="@{/cusuarios/registrar}" method="post" th:object="${usuario}">
                    <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                        Por favor corrija los siguientes errores:
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                        </ul>
                    </div>

                    <div class=" mb-3">
                        <label for="username" class="form-label fw-bold w-100 text-start">
                            Nombre:
                        </label>
                        <input type="text" name="username" id="username" th:field="*{nombre}"
                               class="form-control" placeholder="Escriba el nombre del usuario" autofocus required/>
                    </div>

                    <div class=" mb-3">
                        <label for="correo" class="form-label fw-bold w-100 text-start">
                            Correo Electrónico:
                        </label>
                        <input type="text" name="username" id="correo" th:field="*{correo}"
                               class="form-control" placeholder="Escriba el correo del usuario" required/>
                    </div>

                    <div class="">
                        <label for="password" class="form-label fw-bold w-100 text-start">
                            Contraseña:
                        </label>
                        <input type="password" name="password" id="password" th:field="*{password}"
                               class="form-control" placeholder="Contraseña" required/>
                    </div>

                    <div class="text-center">
                        <input type="submit" class="btn btn-lg btn-primary btn-block mt-4 w-75"
                               th:value="Registrarse"/>
                    </div>
                    <div class="form-text text-center mb-5 text-dark mt-4">
                        <a th:href="@{/login/}" class="btn btn-secondary">
                           <-- Volver a Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<footer style="height: 56px; background-color: #A6E26E;">
    <div class="h-100 d-flex justify-content-center">
        <p class="m-auto">Trabajo Inicial de la asignatura Frameworks Backend y Microservicios del Máster Universitario
            <a href="https://www.uah.es/es/estudios/estudios-oficiales/masteres-universitarios/Desarrollo-Agil-de-Software-para-la-Web/">DASW</a>,
            by <a href="https://github.com/Javier-Gonzalez-Soldado">Javier González Soldado</a>.
        </p>
    </div>
</footer>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>